Repository streamr-dev/streamr-platform, pull requests merged in 2019-06, with the labels that each got.

#532 [Sentry] Add rewrite integration
  app/package-lock.json
  app/package.json
  app/src/analytics.js
Labels: Sentry errors

#515 [PLATFORM-569] Permissions handling tidy
  app/src/userpages/components/CanvasPage/List/index.jsx
  app/src/userpages/components/ShareDialog/index.jsx
  app/src/userpages/components/StreamPage/List/index.jsx
  app/src/userpages/i18n/en.po
  app/src/userpages/modules/canvas/actions.js
  app/src/userpages/modules/dashboard/actions.js
  app/src/userpages/modules/permission/actions.js
  app/src/userpages/modules/userPageStreams/actions.js
  app/src/userpages/tests/modules/permission/actions.test.js
Labels: Sentry errors

#530 [PLATFORM-801] Tweak ModuleSearch styles to match design
  app/src/editor/canvas/components/ModuleSearch.pcss
  app/src/editor/shared/components/SearchPanel/SearchPanel.pcss
Labels: Editor refactoring

#522 [PLATFORM-891] Fix adding ethereum identity
  app/src/shared/modules/integrationKey/services.js
Labels: bug

#521 [PLATFORM-489] Add module stacking when using click insert from ModuleSearch
  app/src/editor/canvas/components/ModuleSearch.jsx
  app/src/editor/canvas/index.jsx
  app/src/editor/shared/utils/boundingBox.js
Labels: Editor refactoring

#529 [PLATFORM-867] Add paging to stream list
  app/src/userpages/components/StreamPage/List/index.jsx
  app/src/userpages/components/StreamPage/List/streamsList.pcss
  app/src/userpages/flowtype/actions/stream-actions.js
  app/src/userpages/flowtype/states/stream-state.js
  app/src/userpages/modules/userPageStreams/actions.js
  app/src/userpages/modules/userPageStreams/reducer.js
  app/src/userpages/modules/userPageStreams/selectors.js
  app/src/userpages/modules/userPageStreams/services.js
  app/src/userpages/tests/modules/userPagesStreams/reducer.test.js
  app/src/userpages/utils/constants.js
Labels: Core pages

#523 [PLATFORM-856] Fix Map to reset markers on canvas start
  app/src/editor/shared/components/modules/Map.jsx
Labels: Editor refactoring

#519 [PLATFORM-878] Update transactions empty state
  app/src/userpages/components/TransactionPage/List/NoTransactions/index.jsx
  app/src/userpages/components/TransactionPage/List/index.jsx
  app/src/userpages/i18n/en.po
Labels: Core pages

#553 init auth doc
  app/src/newdocs/content/api.mdx
Labels: Content writing

#557 init doc for js client
  app/src/newdocs/content/SDKs.mdx
  app/src/newdocs/content/code/api.js
Labels: Content writing

#556 init java sdk doc
  app/src/newdocs/content/SDKs.mdx
  app/src/newdocs/content/code/api.js
Labels: Content writing

#524 [PLATFORM-890] Improve transaction pagination
  app/src/userpages/components/TransactionPage/List/index.jsx
  app/src/userpages/components/TransactionPage/List/list.pcss
  app/src/userpages/modules/transactionHistory/reducer.js
Labels: Core pages

#554 [DOCS-41] API Explorer
  app/src/newdocs/content/api.mdx
  app/src/newdocs/content/images/api/api-explorer.png
  app/src/newdocs/content/images/api/blank
Labels: Content writing

#555 [DOCS-64] Intro to marketplace
  app/src/newdocs/content/marketplace.mdx
Labels: Content writing
